<div class="cards-list-wrapper" [class.active-tasks]="tasksService.activeTab() === 'tasks'">
  <div class="top">
    <div class="title">{{ tasksType() }}</div>
    <div class="number">{{ tasksTotal() }}</div>
  </div>
  @for (task of tasks(); track task.id) {
    <div class="task-card" [ngClass]="{ 'due-over': task.overdue }">
      <div class="options" [matMenuTriggerFor]="menu">⋮</div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditTask(task.id)">Edit</button>
        <button mat-menu-item (click)="onDeleteTask(task.id)">Delete</button>
      </mat-menu>
      <span
        class="priority-pill"
        [ngClass]="{
          high: task.priority === 'high',
          medium: task.priority === 'medium',
          low: task.priority === 'low',
        }"
        >{{ task.priority }}</span
      >
      <div class="title">{{ task.title }}</div>
      <div class="description">
        {{ task.description }}
      </div>
      <div class="dueDate">📅 {{ task.dueDate }}</div>
      <div class="tags">{{ task.tags.join(', ') }}</div>
      <div class="assignee">
        <div class="avatar">{{ task.assignee.avatar }}</div>
        <div class="email">{{ task.assignee.email }}</div>
      </div>
    </div>
  }
</div>
