.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr)); 
  gap: 24px;
}

.tasks-lists-grid-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
