<div class="stats-grid">
  @for (stat of stats(); track stat.id) {
    <stat-card
      [logo]="stat.icon"
      [type]="stat.title"
      [value]="stat.value"
      [trend]="stat.change"
      [changeLabel]="stat.changeLabel"
      [color]="stat.color"
    ></stat-card>
  }
</div>
<app-filters-bar></app-filters-bar>
<div class="tasks-lists-grid-container">
  <app-tasks-list-per-priority
    [tasksTotal]="todoTasks().length"
    [tasksType]="TaskStatusEnum.TODO"
    [tasks]="todoTasks()"
  ></app-tasks-list-per-priority>
  <app-tasks-list-per-priority
    [tasksTotal]="inProgressTasks().length"
    [tasksType]="TaskStatusEnum.IN_PROGRESS"
    [tasks]="inProgressTasks()"
  ></app-tasks-list-per-priority>
  <app-tasks-list-per-priority
    [tasksTotal]="doneTasks().length"
    [tasksType]="TaskStatusEnum.DONE"
    [tasks]="doneTasks()"
  ></app-tasks-list-per-priority>
</div>
