<div class="stats-grid">
  @for (stat of stats; track stat.title) {
    <stat-card
      [logo]="stat.logo"
      [type]="stat.title"
      [value]="stat.value"
      [trend]="stat.trend"
    ></stat-card>
  }
</div>
<app-filters-bar></app-filters-bar>
<div class="tasks-lists-grid-container">
  <app-tasks-list-per-priority></app-tasks-list-per-priority>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, quisquam quibusdam nemo
    facilis mollitia dignissimos voluptas odit ex, sequi earum quia debitis, incidunt itaque
    pariatur dolore iste. In, mollitia distinctio.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, quisquam quibusdam nemo
    facilis mollitia dignissimos voluptas odit ex, sequi earum quia debitis, incidunt itaque
    pariatur dolore iste. In, mollitia distinctio.
  </p>
</div>
