<div class="filters-container">
  <div class="left tabs">
    @for (filter of filters; track filter) {
      <div
        class="filter-item"
        [class.active]="filter === selectedFilter()"
        (click)="selectFilter(filter)"
      >
        {{ filter }}
      </div>
    }
  </div>
  <div class="right">
    <select [ngModel]="selectedPriority" (ngModelChange)="selectPriority($event)">
      <option [ngValue]="null" disabled selected>Priority</option>
      @for (priority of priorities; track priority) {
        <option [value]="priority">{{ priority }}</option>
      }
    </select>
    <button class="new-task-btn" (click)="createNewTask()">+ New Task</button>
  </div>
</div>
