@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
  color: var(--color-text-primary);
}
